@import "tailwindcss";
body {
  background-color: #7f011f;
}

.cream {
  background-color: #f6ead0;
}
.red {
  background-color: #7f011f;
}

.text-cream {
  color: #ffecd1;
}
.border-cream {
  border-color: #ffecd1;
}

.text-red {
  color: #7f011f;
}
.border-red {
  border-color: #7f011f;
}